---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Counter from "@components/Counter.astro";
import counter from "@content/counter.json";
import { homepage } from "@content/homepage";
import Features from "@components/Features.astro";
---

<Layout>
  <section class="grid py-10 place-items-center text-center">
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">Complexity . Eco 2023</h1>
    <h2 class="sm:text-2xl text-xl font-bold mb-6 dark:text-white">Network complexity beyond species counting</h2>
    <h5>11 July - Morning | Vienna</h5>
    <h5>A NetSci2023 satellite</h5>
  </section>
  <section class="sm:text-2xl text-2xl mb-6 dark:text-white">
    <p>Complexity is a central notion for ecological network research. Yet, despite prodigious developments, we still miss a deep understanding of the drivers and consequences of complexity, and even a consensus definition.</p>
    <br>
    <p>In this satellite we aim to gather an interdisciplinary research group, from boots-on-the-field ecologists to blue-sky mathematicians, to investigate the limitations of current definitions of complexity, propose novel frameworks for assessing complexity, and evaluate their consequences.</p>
  </section>
<section class="place-items-center text-center">
  <a
  href="/Participate"
  class="dark:bg-lime-800 bg-lime-200 rounded-xl p-3 text-black dark:text-white m-2 ring-2 ring-opacity-0 ring-lime-500 hover:ring-opacity-100"
  >Participate!
</a>
<br>
</section>
<br>
  <section class="sm:text-xl text-xl mb-6 dark:text-white">  
    <p>We are going to address questions such as:
    <ul class="list-disc list-inside">
      <li>Where are we at in defining and assessing food web complexity?</li>
      <li>What are specific definitions in use in particular aspects of ecological network research? What are their limitations? What their strength?</li>
      <li>What are the relations between novel complexity definitions and the fundamental processes of ecological networks? What advantages do they offer?</li>
      <li>How can practitioners estimate complexity in food webs? What data is necessary? What software is available?</li>
      <li>Why should we care about new definitions? What do they reveal about ecological networks, and what actions do they suggest?</li>
    </ul>
    </p>
  </section>
  {homepage.map((homepage) => <Features title={homepage.title} icon={homepage.icon} content={homepage.content} />)}
  <section class="sm:text-xl text-xl mb-6 text-center dark:text-white">
  <p>We will prioritize the participation of Early Career Researchers, striving to be as inclusive as possible.</p>
  </section>
<section class="py-20 sm:flex sm:items-center sm:justify-evenly text-center sm:text-left">
    {
      (
        <ul class="grid sm:grid-cols-3 gap-16">
          {counter.map((counter) => (
            <Counter number={counter.number} label={counter.label} />
          ))}
        </ul>
      )
    }
  </section>
  <Footer />
</Layout>
